h1{
    color: rgba(26, 7, 88, 0.594);size-adjust: 90;
    background-color: rgb(217, 201, 79);
    text-align: center;
    text-decoration-color: blanchedalmond;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 30px;
}